body{
    font-family: 'Poppins', sans-serif;
    background-color: white);
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-colour{
    color: rgb(247, 0, 255);
}
section{
    display: flex;
    margin-top: 100px;
}

.half-width{
width: 50%;
padding: 15px;
padding-right: 20px;
}
.half-width img{
    width: 80%;
   
}
.about{
    text-decoration: none;
    padding: 10px 40px;
    background-color: rgb(255, 0, 200);
    border-radius: 5px;
    color: cornsilk;
    font-weight: 700;
}
.top-banner{
    background-image: url(top-banner.png);
}
.skill{
    color: rgb(0, 55, 128);
    font-weight: 700;
}
.second-banner{
    background-position: right;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
}
.second-width{
    width: 50%;
}